/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --light-background: #d3d3d3;
  --dark-background: #e08074;
  --link-hover: #880000;
}

#navbar{
  position: fixed;
  background: #e85a4f;
  width: 100%;
  top: 0;
  left: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000;
}
.nav-link{
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}

#navbar a{
  text-decoration: none;
  transition: transform 0.3s ease;
}

#navbar a:hover {
  transform: translateY(3px);
}

body{
  width: 100%;
  
}

a:visited, a:link{
  color: black;
}

a:hover{
  color: var(--link-hover);
}


h1{
  text-align: center;
  font-size: 3rem;
}

#welcome-section{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-background);
}

#welcome-section, h1{
  text-align: center;
  font-style: italic;
}

#about-section{
  height: 100vh;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-background);
}

#about-section > h3, #about-section > h4{
  width: 60%;
  text-align: center;
  margin: 10px auto;
  font-size: 1.3rem;
  font-weight: normal;
  padding-top: 3rem;
}


#projects{
  height: 100vh;
  display: flex;
  background-color: var(--light-background);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem; 
  box-sizing: border-box;
  position: relative;
}

.project-image{
  width: 80%;
  height: auto;
  padding: 1rem;
}

.projects-container {
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
  padding-top: 3rem;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;

}

.projects-wrapper{
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
  width: 55%;
  position: relative;
}

.project-card {
  flex: 0 0 auto;
  text-align: center;
  background-color: var(--dark-background);
  border-radius: 5%;
  margin: 10px;
  box-sizing: border-box;
  max-width: 50%;
  position: relative;
  overflow: hidden;
}

.project-info{
  padding: 1rem;
  padding-top: 0;
}

#contact-section{
  height: 100vh;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--dark-background);
}

.social-icons{
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 1.3rem;
}

.social-icons a{
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: translateY(-8px);
}

#left-button{
  background-image: url("Images/left-arrow.png");
  left: 5vh;
}

#right-button{
  background-image: url("Images/right-arrow.png");
  right: 5vh;
}

#left-button, #right-button{
  width: 5vh;
  height: 4vh;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;
  top: 50%;
  background-color: var(--light-background);
  color: black;
  border: 0.5vh solid var(--dark-background);
  border-radius: 8px;
}



@media (max-width: 700px){
 #navbar {
    flex-direction: flex;
    align-items: flex-start;
    height: auto;
    padding: 1rem;
    width: 100%;
    z-index: 1000;
  }
  .nav-link {
    padding: 0.5rem 0.5rem;
  }

  #about-section > h3, #about-section > h4 {
    width: 90%;
    font-size: 1.1rem;
  }

   .projects-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .project-card {
    width: 100%;
    max-width: 90%;
  }


  .social-icons {
    flex-direction: column;
    gap: 10px;
  }

}


