/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root{
    --light-background: #d3d3d3;
    --dark-background: #e08074;
    --link-hover: #880000;
  }
  
  #navbar{
    position: fixed;
    background: #e85a4f;
    width: 100%;
    top: 0;
    left: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .nav-link{
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
  }
  
  #navbar a{
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  #navbar a:hover {
    transform: translateY(3px);
  }
  
  body{
    width: 100%;
    
  }
  
  a:visited, a:link{
    color: black;
  }
  
  a:hover{
    color: var(--link-hover);
  }
  
  
  h1{
    text-align: center;
    font-size: 3rem;
  }
  
  #welcome-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-background);
  }
  
  #welcome-section, h1{
    text-align: center;
    font-style: italic;
  }
  
  #about-section{
    height: 100vh;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-background);
  }
  
  #about-section > h3, #about-section > h4{
    width: 60%;
    text-align: center;
    margin: 10px auto;
    font-size: 1.3rem;
    font-weight: normal;
    padding-top: 3rem;
  }
  
  
  #projects{
    height: 100vh;
    display: flex;
    background-color: var(--light-background);
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .project-image{
    height: 30vh;
    width: 35vh;
    padding: 1rem;
    border-radius: 5%;
  }
  
  .projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 3rem;
  }
  
  .project-card {
    text-align: center;
    background-color: var(--dark-background);
    border-radius: 5%;
    width: 300px;
    max-width: 100%;
    margin: 10px;
  }
  
  .project-info{
    padding: 1rem;
    padding-top: 0;
  }
  
  #contact-section{
    height: 100vh;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-background);
  }
  
  .social-icons{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 1.3rem;
  }
  
  .social-icons a{
    text-decoration: none;
    transition: transform 0.3s ease;
  }
  
  .social-icons a:hover {
    transform: translateY(-8px);
  }
  
  @media (max-width: 700px){
    #navbar{
    flex-direction: column;
    align-items: flex-start
  }
  
  }
  
  